<nav class="navbar navbar-expand-xl"
     [ngClass]="{
     'navbar-light': !darkMode,
     'navbar-dark': darkMode,
     'bg-light': !darkMode,
     'bg-dark': darkMode
     }">
  <div class="container-fluid">
    <a class="navbar-brand">Angular htaccess generator <span class="version">{{version}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-label="Toggle navigation"
            [attr.aria-expanded]="!navbarCollapse" (click)="navbarCollapse = !navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [collapse]="navbarCollapse" [isAnimated]="true">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="github-buttons d-none d-xl-block" style="margin-left:25px;margin-top:5px;">
          <ntkme-github-button
            size="large"
            [count]="true"
            user="julianpoemp"
            repo="ngx-htaccess-generator"
          >
          </ntkme-github-button>
          <ntkme-github-button
            size="large"
            [count]="true"
            user="julianpoemp"
            repo="ngx-htaccess-generator"
            type="fork">
          </ntkme-github-button>
          <ntkme-github-button
            size="large"
            [count]="true"
            user="julianpoemp"
            repo="ngx-htaccess-generator"
            type="issue">
          </ntkme-github-button>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/generator']">Generator</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/further-information']">Further information</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/trouble-shooting']">Trouble Shooting</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/helpful-resources']">Helpful Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gist.github.com/julianpoemp/bcf277cb56d2420cc53ec630a04a3566">Discussion</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                  aria-controls="dropdown-basic">
            {{selectedLanguage | uppercase}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-start"
              role="menu" aria-labelledby="button-basic" [ngClass]="{
            'dropdown-menu-dark': darkMode
          }">
            <ng-container *ngFor="let lang of availableLanguages">
              <li role="menuitem" *ngIf="lang !== selectedLanguage" (click)="changeSelectedLanguage(lang)"
                  style="cursor: pointer;">
                <a class="dropdown-item">{{lang | uppercase}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
