<div class="row" style="flex:auto">
  <div class="col-12 col-xl-6" #wrapper>
      <p>
        {{"introduction" | transloco}}
      </p>
      <div class="alert alert-info">
        {{"alerts.server requirements" | transloco}}
      </div>
       <app-question-form [htaccessFile]="htaccessFile"></app-question-form>
    </div>
    <div class="col-12 col-xl-6" style="flex:auto; flex-direction: column; display: flex;">
      <app-preview-terminal [htaccessFile]="htaccessFile"></app-preview-terminal>
    </div>
</div>
