.question {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.card {
  margin-bottom: 10px;
}

.op-50 {
  opacity: 0.5;
}

.exclusion {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.preview {
}

.preview textarea {
  padding: 10px;
  background-color: dimgray;
  color: whitesmoke;
}

.github-buttons {
  margin-bottom: 20px;
}

.github-buttons ntkme-github-button {
  margin-right: 10px;
  display: inline-block;
}

#toolbar-buttons {
  text-align: right;
  background-color: whitesmoke;
  border:1px solid gray;
  padding:5px;
}

#toolbar-buttons > * {
  margin-left: 5px;
}
