main {
  padding: 20px;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.question {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.card {
  margin-bottom: 10px;
}

.op-50 {
  opacity: 0.5;
}

.exclusion {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.preview textarea {
  padding: 10px;
  background-color: dimgray;
  color: whitesmoke;
  height:100%;
}

.github-buttons ntkme-github-button {
  margin-right: 10px;
  display: inline-block;
}

#toolbar-buttons {
  text-align: right;
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 5px;
}

#toolbar-buttons > * {
  margin-left: 5px;
}

#toolbar-buttons .header {
  position: absolute;
  display: block;
  margin-top:5px;
  font-size: 1.2em;
}

.version {
  font-size: 0.5em;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 5px;
}

:host {
  display: flex;
  flex-direction: column;
  flex: auto;
}
