:host{
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
}

main {
  height:500px;
}

.question {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.card {
  margin-bottom: 10px;
}

.op-50 {
  opacity: 0.5;
}

.exclusion {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.preview textarea {
  padding: 10px;
  background-color: dimgray;
  color: whitesmoke;
  height: 100%;
}

/*
:host {
  display: flex;
  flex-direction: column;
  flex: auto;
}
 */

@media (max-width: 756px) {
  main {
    padding: 20px 10px;
  }
}
