<div class="container">
  <div class="p-3 mt-4 mb-4 rounded-3"
       [ngClass]="{
     'bg-light': !appService.lastDarkModeActive,
     'bg-dark': appService.lastDarkModeActive
     }">
    <div class="container-fluid py-5">
      <h1 class="display-5">Helpful Resources</h1>
    </div>
  </div>

  <table class="table table-striped" [ngClass]="{
      'table-dark': appService.lastDarkModeActive
      }">
    <tbody>
    <tr>
      <td>
        <a target="_blank" href="https://gist.github.com/julianpoemp/0c4dc13541b863f6503026333eb6b2b6">SubscriptionManager
        </a>
      </td>
      <td>Typescript class that makes it much easier to manage subscriptions.
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="https://htaccess.madewithlove.be/">Htaccess tester online
        </a>
      </td>
      <td>With this tool you can test your htaccess file online.
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="https://github.com/h5bp/server-configs-apache">Apache Server Configs
        </a>
      </td>
      <td>Config files to improve performance on apache servers.
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="https://github.com/h5bp/html5-boilerplate">HTML5 Boilerplate
        </a>
      </td>
      <td>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or.
        sites.
      </td>
    </tr>
    </tbody>
  </table>
</div>
