<div id="questions" style="overflow-y:auto;" [ngStyle]="{
    height: elementRef.nativeElement.height + 'px'
    }">
  <p style="text-align: center;">
    <b>{{'questions.show description' | transloco}}</b>
  </p>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10 col-md-10 my-auto">
          <div class="question">
            {{"questions.baseHref.header" | transloco}}
          </div>
          <fa-icon [icon]="['far', 'question-circle']" class="question-circle"
                   (click)="questions.baseHref.showDescription = !questions.baseHref.showDescription"
                   style=""></fa-icon>
        </div>
        <div class="col-12 col-md-2 my-auto" style="text-align: center;">
          <ng-toggle offText="{{'general.no' | transloco}}"
                     offColor="secondary"
                     onColor="success"
                     onText="{{'general.yes' | transloco}}"
                     [(ngModel)]="questions.baseHref.checked"
                     (click)="generateHtaccessFile()"
          >
          </ng-toggle>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="questions.baseHref.showDescription"
         [innerHTML]="'questions.baseHref.content' | transloco" [@fadeInExpandOnEnter] [@fadeOutCollapseOnLeave]>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-md-10 my-auto">
          <div class="question">
            {{"questions.httpsRedirection.header" | transloco}}
          </div>
        </div>
        <div class="col-12 col-md-2 my-auto" style="text-align: center;">
          <ng-toggle
            offText="{{'general.no' | transloco}}"
            offColor="secondary"
            onColor="success"
            onText="{{'general.yes' | transloco}}"
            [(ngModel)]="questions.httpsRedirection.checked"
            (click)="generateHtaccessFile()"
          >
          </ng-toggle>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-md-10 my-auto">
          <div class="question">
            {{"questions.exclusions.header" | transloco}}
          </div>
        </div>
        <div class="col-12 col-md-2 my-auto" style="text-align: center;">
          <ng-toggle
            offText="{{'general.no' | transloco}}"
            offColor="secondary"
            onColor="success"
            onText="{{'general.yes' | transloco}}"
            [(ngModel)]="questions.exclusions.checked"
            (click)="generateHtaccessFile()"
          >
          </ng-toggle>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="questions.exclusions.checked" [@fadeInExpandOnEnter] [@fadeOutCollapseOnLeave]>
      <p>
        {{"questions.exclusions.description" | transloco}}
      </p>
      <div style="vertical-align: middle;">
        <div style="display: block;">

          <ng-container *ngFor="let exlusion of questions.exclusions.list; let i = index;">
            <div class="exclusion">
              {{exlusion}}
              <fa-icon [icon]="['fas', 'trash-alt']"
                       style="display: inline-block;cursor: pointer; vertical-align: middle; color:red; margin-top:-2px;margin-left:2px;"
                       (click)="removeExclusion(i)"></fa-icon>
            </div>
          </ng-container>
        </div>
        <input type="text" placeholder="directory/" style="display:inline;margin-top:2px;"
               (keyup)="questions.exclusions.addEnabled = inputElement.value.length > 0" #inputElement/>
        <fa-icon [icon]="['fas', 'plus-square']" size="2x"
                 style="display: inline-block;cursor: pointer; vertical-align: middle; color:cornflowerblue;margin-top:-2px;margin-left:2px;"
                 class="op"
                 (click)="addExclusion(inputElement)" [ngClass]="{
                  'op-50': !questions.exclusions.addEnabled
                 }"
        ></fa-icon>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-md-10 my-auto">
          <div class="question">
            {{"questions.browserCaching.header" | transloco}}
          </div>
          <fa-icon [icon]="['far', 'question-circle']" class="question-circle"
                   (click)="questions.browserCachingDisabled.showDescription = !questions.browserCachingDisabled.showDescription"
                   style=""></fa-icon>
        </div>
        <div class="col-12 col-md-2 my-auto" style="text-align: center;">
          <ng-toggle
            offText="{{'general.no' | transloco}}"
            offColor="secondary"
            onColor="success"
            onText="{{'general.yes' | transloco}}"
            [(ngModel)]="questions.browserCachingDisabled.checked"
            (click)="generateHtaccessFile()"
          >
          </ng-toggle>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="questions.browserCachingDisabled.showDescription" [@fadeInExpandOnEnter]
         [@fadeOutCollapseOnLeave]>
      {{"questions.browserCaching.description" | transloco}}
    </div>
  </div>
</div>
