:host {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.preview textarea {
  padding: 10px;
  background-color: dimgray;
  color: whitesmoke;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

#toolbar-buttons {
  text-align: right;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

#toolbar-buttons > * {
  margin-left: 5px;
}

#toolbar-buttons .header {
  position: absolute;
  display: block;
  margin-top: 5px;
  font-size: 1.2em;
}

#terminal {
  border: 1px lightgray;
  box-shadow: gray 3px 3px 20px;
  padding: 30px;
}

#terminal {
  padding: 0;
  flex: auto;
  flex-direction: column;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  background-color: transparent;
}

@media (max-width: 1199px) {
  #terminal {
    margin-top: 50px;
  }
}
